/*	row of records in protected/views/job/index.php
	linked in protected/views/layouts/jobmain.php

	*/


.joblisting-row:nth-child(even) {background-color:#b3e4f2;}
.joblisting-row:nth-child(odd) {background-color:#ceecf5;}
.joblisting-row:hover {background-color:#e7f2b3;}
